<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
 
</head>

<body>
    <div id="bod">
  <img src="img/back.jpg" alt="Serene place" id="back">
  
   <div id="search">
       <h3>Book unique places to stay and things to do.</h3>
       <form method="GET">
           <label>WHERE</label>
           <select>
               <option value="Toronto">Toronto</option>
               <option value="Montreal">Montreal</option>
               <option value="Quebec">Quebec</option>
               <option value="Halifax">Halifax</option>
           </select><br><br>
           
           <label>CHECK-IN</label>
           <input type="date" name="checkin" id="checkin">
           <label>CHECK-OUT</label>
           <input type="date" name="checkout" id="checkout"><br><br>
           <label>GUESTS</label>
           <input type="number" name="count" id="count"> <br><br>

           <input type="submit" name="searching" value="search" id="but">
       </form>
   </div>
  
</div>
   <section id="promotion">
       <h3>Book 2 nights and get 1 night free using PROMOBOGO code on checkout</h3>
   </section>

   <section id="aboutus">
   <p>What is Airbnb and how does it work?<br><br>
<strong>A community built on sharing</strong><br>
Airbnb began in 2008 when two designers who had space to share hosted three travellers looking for a place to stay. Now, millions of hosts and travellers choose to create a free Airbnb account so they can list their space and book unique accommodations anywhere in the world. And Airbnb experience hosts share their passions and interests with both travellers and locals.
<br><br>
<strong>Trusted services</strong><br>
Airbnb helps make sharing easy, enjoyable, and safe. We verify personal profiles and listings, maintain a smart messaging system so hosts and guests can communicate with certainty, and manage a trusted platform to collect and transfer payments.
<br>
Your safety is our number one concern. Learn more in our Trust and Safety Centre.
<br><br>
<strong>24/7 support</strong><br>
We've answered the most common questions about Airbnb in our Help Centre. Learn more about finding a place to stay, paying for your reservation or what it means to host a place to stay or to host an experience.
<br>
And our global community support team is standing by 24/7 in 11 different languages to help make things right with rebooking assistance, refunds, reimbursements, our $1 million USD Host Guarantee, and insurance programs for both homes and experiences. Reach out to us with any questions.</p>
   <br><br>
   <div id="vid">
    <iframe width="100%" height="400px" id="vidair"src="https://www.youtube.com/embed/XWUeChVZqgw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" controls></iframe>
   </div>
   </section>
 
</body>
</html>