<!DOCTYPE html>
<html>

  <body>
      <h2>300+ places to stay</h2>
    <div id="rooml1">

    <div class="room1">
      <img src="img/r1.jpg" width="400rem" height="300rem"alt="Room1" id="room1"> 
      <h4>Right Downtown,Comfy,Cozy,Close to Attractions</h4>
      <h4>$130 CAD/night</h4>
    </div>

    <div class="room1">
      <img src="img/r2.jpg" width="400rem" height="300rem" alt="Room2" id="room2"> 
      <h4>PERFECT LOCATION, GREAT SPACE, QUICK RESPONSE RATE</h4>
      <h4>$110 CAD/night</h4>
    </div>
{{!--Room number 3--}}
    <div class="room1">
      <img src="img/r3.jpg" width="400rem" height="300rem" alt="Room3" id="room3"> 
      <h4>+Luxurious Condo near CN Tower, Waterfront, More+</h4>
      <h4>$190 CAD/night</h4>
    </div>
  
{{!--Room number 4--}}

    <div class="room2">
      <img src="img/r4.jpg" width="400rem" height="300rem" alt="Room4" id="room4"> 
      <h4>Bright Spacious and Clean 1 Bed Apt.</h4>
      <h4>$90 CAD/night</h4>
    </div>
{{!--Room number 5--}}
    <div class="room2">
      <img src="img/r5.jpg" width="400rem" height="300rem" alt="Room5" id="room5"> 
      <h4>Large nice room. Close to subway,shopping</h4>
      <h4>$40 CAD/night</h4>
    </div>
{{!--Room number 6--}}
    <div class="room2">
      <img src="img/r6.jpg" width="400rem" height="300rem" alt="Room6" id="room6"> 
      <h4>MASTER ROOM,LAKE ALSO DOWNTOWN VIEW,UNIQUE TERRACE</h4>
      <h4>$170 CAD/night</h4>
    </div>

   </div>

  </body>


</html>

