<body>
<div id="signup">
    <img src="img/sign.jpg" width="300rem" height="300rem">
</div>
<form method="POST">
<div id="user">

    <input type="email" name="email" id="mail" placeholder="Email Address">
    <br><br>
    <input type="text" name="fname" id="firstname" placeholder="First Name">
    <br><br>
    <input type="text" name="lname" id="lastname" placeholder="Last Name">
    <br><br>
    <input type="password" name="pass" id="password" placeholder="Create a password"> <br> <br>  
    <label>Birthday</label>
    <h5>To sign up, you need to be at least 18.</h5>
    <input type="date" name="date" id="dat"><br><br>
    <input type="button" name="sign" id="signupuser" value="SignUp"><br><br>
</div>
</form>
</body>